<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/logincss.css">
</head>


<body>
              <STYle>body {
              footer {
              display: none;
            }}

            .flash-message {
  color: red;           /* or whatever color you like */
  font-weight: bold;
  animation: flash 1s infinite;
}

@keyframes flash {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

            </STYle>
    
    <div class="container">
     <div class="login-box">
              <% if (message) { %>
          <div class="flash-message"><%= message %></div>
        <% } %>

     <h1>Login</h1>
       <form method="POST" action="/user/login">
 
         <label for="">Email</label>
        <input type="text"  required name="email"placeholder="E-mail">
         <label for="">Password</label>
        <input type="text" required name="password"placeholder="Password">
        <div class="forgot"><a href="#">Forgot your password?</a></div>
        <button type="submit">Login</button>
         <div class="signup">
          <a href="/signup">Sign up</a>
        </div>
    </form>
       </div>
  </div>
</body>
</html>